.containerPayment {
    width: 100%;
    display: flex;
    margin-top: -90px;
    max-width: 1200px;
    align-items: center;
    flex-direction: column;
}

.containerPayment form .division{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
}

.containerPayment form header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 0 30px;
}

.containerPayment form header #logo{
    width: 166px;
}

.containerPayment form header #content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 440px;
    margin-top: 20px;
}

.containerPayment form header #content p{
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height:  19px;
    text-align: center;
    color: #444444;
    margin-top: 10px;
}

.containerPayment form .description{
    font-family: 'Lato', Arial, sans-serif;
    font-size: 15px;
    line-height:  19px;
    color: #444444;
}

.containerPayment form .boxPagSelect,
.containerPayment form .boxPag{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 3px 5px 20px rgba(68, 68, 68, 0.12);
    border-radius: 5px;
    max-width: 700px;
    padding-bottom: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.containerPayment form .boxPagSelect {
    border: 2px solid #05C471;
}

.containerPayment form #columnSecundary {
    display: flex;
    flex-direction: column;
    width: 364px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #FAFAFA;
}

.containerPayment form #columnPrimaryStep1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.containerPayment form #columnPrimaryStep1 .orgText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-width: 60px;
}

.containerPayment form #columnPrimaryStep1 .rowInputValue{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 418px;
}

.containerPayment form #columnPrimaryStep1 .rowInputValue h1{
    position: absolute;
    font-size: 72px;
    line-height:  84px;
    color: #05C471;
    margin-left: 20px;
    z-index: 20;
}

.containerPayment form #columnPrimaryStep1 .rowInputValue input{
    width: 100%; 
    max-width: 418px;
    height: 110px;
    background: #FFFFFF;
    border: 1px solid #CFD4D2;
    border-radius: 3px;
    font-size: 72px;
    line-height: 84px;
    font-family: 'Lato', Arial, sans-serif;
    color: #05C471;
    font-weight: bold;
    padding: 20px 20px 20px 120px;
}

.containerPayment form #columnPrimaryStep1 .rowInputValue .size{
    font-size: 40px;
}

.containerPayment form #columnPrimaryStep1 .mobile{
    display: none;
}

@media (max-width: 1145px) {
    .containerPayment form #columnSecundary {
        display: none;
    }

    .containerPayment form .division{
        width: 100%;
        display: grid;
        grid-template-columns: 4fr;
        grid-gap: 2rem;
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    .containerPayment {
        margin-top: -60px;
    }

    .containerPayment form header{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
        padding: 0 30px;
    }

    .containerPayment form header #logo{
        margin-bottom: 2rem;
    }

    .containerPayment form .division{
        padding: 0 1rem;
    }
}

@media (max-width: 680px) {
    .containerPayment form #columnPrimaryStep1 .orgText{
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2rf;
        grid-gap: 1rem;
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .containerPayment form header{
        padding: 0px;
    }

    .containerPayment form header #content p{
        font-size: 11px;
        line-height:  13px;
    }

    .containerPayment form .description{
        font-size: 14px;
        line-height:  15px;
        text-align: justify;
    }

    .containerPayment form #columnPrimaryStep1 {
        padding: 0;
    }
}

@media (max-width: 470px) {
    .containerPayment form #columnPrimaryStep1 .rowInputValue h1{
        font-size: 40px;
        line-height:  50px;
        margin-left: 10px;
    }
    
    .containerPayment form #columnPrimaryStep1 .rowInputValue input{
        height: 70px;
        font-size: 40px;
        line-height: 50px;
        padding: 20px 20px 20px 70px;
    }
    
    .containerPayment form #columnPrimaryStep1 .rowInputValue .size{
        font-size: 40px;
    }
}